{% extends 'shop/base.html' %}
{% load static %}
{% block title %} CheckOut {% endblock %}
{% block css %}
#dngrchk{
    color:red;
    font-weight:bold;
}
.wrap{
    background-color:#ececec;
    border-radius:50px;
    padding:30px;
}
{% endblock %}
{% block userimage %}
<img id="loginicon" src="/media/{{img}}">
{% endblock %}
{% block body %}
<div class="container">
    <din class="col">
        <h4> Your Product And their Quantity </h4>
        <ul class="list-group" id="prod">
        </ul>
        <nav aria-label="breadcrumb" class="my-4" id="price">
        </nav>
    </din>
    <din class="col">
        <h4>Fill these details to place the Order</h4>
        <span id="dngrchk"></span>
        <form name="mychkform" action="{% url 'CheckOut' %}" method="POST" onsubmit="return validationchk()" class="wrap">
        {% csrf_token %}
            <input type="hidden" name="items" id="items">
            <input type="hidden" name="amount" id="amount">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label >Name</label>
                    <input type="text" class="form-control" name="name" placeholder="Enter Full Name" required>
                </div>
                <div class="form-group col-md-4">
                    <label >Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Your Email"required>
                </div>
                <div class="form-group col-md-4">
                    <label >Phone</label>
                    <input type="text" class="form-control" name="phone" placeholder="Enter Phone"required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label >Address</label>
                    <input type="text" class="form-control" name="add1" placeholder="Address"required>
                </div>
                <div class="form-group col-md-6">
                    <label >Address 2</label>
                    <input type="text" class="form-control" name="add2" placeholder="Apartment, studio, or floor"required>
                </div>
            </div>
            <div class="form-row">
                
                <div class="form-group col-md-5">
                    <label >State</label>
                    <select id="inputState" name="state" class="form-control"required>
                        <option selected><b>Choose State or Union Territory</b></option>
                        <option>Andhra Pradesh</option><option>Arunachal Pradesh</option><option>Assam</option><option>Bihar</option><option>Chhattisgarh</option>
                        <option>Goa</option><option>Gujarat</option><option>Haryana</option><option>Himachal Pradesh</option><option>Jharkhand</option>
                        <option>Karnataka</option><option>Kerala</option><option>Madhya Pradesh</option><option>Maharashtra</option><option>Manipur</option>
                        <option>Meghalaya</option><option>Mizoram</option><option>Nagaland</option><option>Odisha</option><option>Punjab</option>
                        <option>Rajasthan</option><option>Sikkim</option><option>Tamil Nadu</option><option>Telangana</option><option>Tripura</option>
                        <option>Uttar Pradesh</option><option>Uttarakhand</option><option>West Bengal</option><option>Andaman and Nicobar Islands</option>
                        <option>Chandigarh</option>Dadra and Nagar Haveli and Daman and Diu<option>Delhi</option><option>Jammu and Kashmir</option>
                        <option>Ladakh</option><option>Lakshadweep</option><option>Puducherry</option>
                    </select>
                </div>
                <div class="form-group col-md-5">
                        <label >City</label>
                        <input type="text" class="form-control" name="city" placeholder="Enter Your City"required>
                    </div>
                <div class="form-group col-md-2">
                    <label >Pin-Code</label>
                    <input type="text" class="form-control" name="pin" placeholder="Enter Pin-Code"required>
                </div>
            </div>
            <button type="submit" id="submit" class="btn btn-primary">Place Order</button>
        </form>
    </din>
</div>
{% endblock %}
{% block js %}
<script>

    if (localStorage.getItem('cart') == null) {
        var cart = {};
    }
    else {
        cart = JSON.parse(localStorage.getItem('cart'));
        cartcount(cart);
        showprod(cart);
        showtotalprice(cart);

    }
    function cartcount(cart) {
        var count = 0;
        for (var x in cart) {
            var count = count + cart[x][0];
        }
        document.getElementById('cartcount').innerHTML = count;
    }
    function showprod(cart)
    {
        var list="";
        for (var x in cart)
        {
            list=list+'<li class="list-group-item d-flex justify-content-between align-items-center">'+cart[x][1]+'<span class="badge badge-primary badge-pill">'+cart[x][0]+'</span></li>';
            document.getElementById("prod").innerHTML=list;
        }
        
    }
    function showtotalprice(cart)
    {
        totalprice=0;
        for (var x in cart)
        {
           totalprice=totalprice+(cart[x][0]*cart[x][2]);
        }
        document.getElementById("price").innerHTML= "<ol class='breadcrumb'><li class='breadcrumb-item active' aria-current='page'>Your total price is <b> ₹"+totalprice+"</b></li></ol>";
    }
    $('#items').val(JSON.stringify(cart));
    $('#amount').val(totalprice);
    function validationchk()
    {
        var result=true;
        name = document.forms["mychkform"]["name"].value;
        email = document.forms["mychkform"]["email"].value;
        phone = document.forms["mychkform"]["phone"].value;
        add1 = document.forms["mychkform"]["add1"].value;
        add2 = document.forms["mychkform"]["add2"].value;
        state = document.forms["mychkform"]["state"].value;
        city = document.forms["mychkform"]["city"].value;
        pin = document.forms["mychkform"]["pin"].value;
        if (name.length < 2)
        {
            document.getElementById("dngrchk").innerHTML = "Please Enter Name having atleast 2 character";
            result = false;
        }
        else
        {
            a = email.indexOf("@");
            b = email.indexOf(".");
            c = countoccurance(email);
            if (c != 1 || (b - a < 3) || (email.length - b < 2) || (email.slice(b + 1) != "com" && email.slice(b + 1) != "in"))
            {
                document.getElementById("dngrchk").innerHTML = "Enter a valid Email for Example Raghu@gmail.com";
                result = false;
            }
            else
            {
                if (phone.length != 10 || phone[0] < 6) 
                    {
                        document.getElementById("dngrchk").innerHTML = "Please enter right phone number";
                        result = false;
                    }
                    else 
                    {
                        c2 = 0;
                        for (i = 0; i < phone.length; i++) {
                            if (phone.charCodeAt(i) > 47 && phone.charCodeAt(i) < 58) {
                                c2++;
                            }
                            else {
                                document.getElementById("dngrchk").innerHTML = "Please enter only digits for phone number";
                                result = false;
                                break;
                            }
                        }
                        if (c2 == 10) 
                        {
                            if (pin.length != 6) 
                            {
                                document.getElementById("dngrchk").innerHTML = "Please Enter 6 digit pin-code";
                                result = false;
                            }
                            else 
                            {
                                c3 = 0;
                                for (i = 0; i < pin.length; i++) 
                                {
                                    if (pin.charCodeAt(i) > 47 && pin.charCodeAt(i) < 58) 
                                    {
                                        c3++;
                                    }
                                    else 
                                    {
                                        document.getElementById("dngrchk").innerHTML = "Please enter only digits for pin-code";
                                        result = false;
                                        break;
                                    }
                                }
                                if (c3 == 6) 
                                {
                                    if (state == "Choose State or Union Territory") 
                                    {
                                        document.getElementById("dngrchk").innerHTML = "Please Choose any state from the provided list";
                                        result = false;
                                    }
                                    else
                                    {
                                        if(city.length!=0)
                                        {
                                            for(i=0;i<city.length;i++)
                                            {
                                                if (city.charCodeAt(i)<65|| city.charCodeAt(i)>122 ||(city.charCodeAt(i)>90 && city.charCodeAt(i)<97)) {
                                                document.getElementById("dngrchk").innerHTML = "Please enter only Character for City";
                                                console.log("6")
                                                result = false;
                                                break;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
            }
        }
        return result;
    }
    function countoccurance(str) {
        i = 0;
        c = 0;
        for (i = 0; i < str.length; i++) {
            if (str[i] == ".") {
                c++;
            }
        }
        return c;
    }
</script>

{% endblock %}